#testimonial {
	background-color: var(--color-secondary);
	padding: var(--spacing-small) var(--spacing);
}

#testimonial img {
	width: 3rem;
	margin-bottom: 1.5rem;
}

#user-name {
	font-weight: bold;
	margin-bottom: var(--spacing-small);
}
