footer {
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 2rem;
	padding: 2rem;
	margin: 0 -2rem;
	gap: 5vw;
	/* border-top: 0.15rem solid #ee9972; */
	background-color: #fbdabb;
}

#contact-social-container {
	display: flex;
	justify-content: center;
	gap: 5vw;
}

#logo-container {
	margin: auto 0;
}

#footer-logo {
	width: min(5rem, 24vw);
}

footer h3 {
	font-family: "Markazi Text";
	margin-bottom: 0.5rem;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (width <= 600px) {
	#contact-social-container {
		flex-direction: column;
		gap: 4vw;
	}
}

@media (width < 420px) {
	footer {
		flex-direction: column;
	}

	#logo-container {
		margin: auto;
	}
}
