header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3vw;
	text-align: center;
	background-color: white;
	height: var(--header-height);
}

#logo {
	width: 9rem;
	height: 3rem;
}

@media (width <= 850px) {
	header {
		flex-direction: column;
		gap: 0;
	}

	:root {
		--header-height: 6.2rem;
	}
}

@media (width <= 390px) {
	:root {
		--header-height: 8rem;
	}
}
