header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3vw;
	text-align: center;
	background-color: white;
	height: 6rem;
}

#logo {
	width: 12rem;
	height: 70px;
}

@media (width <= 850px) {
	header {
		flex-direction: column;
		height: 7rem;
		gap: 0;
	}
}

@media (width <= 460px) {
	header {
		height: 8rem;
	}
}
