#main-nav-list {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	column-gap: 4vw;
}

li {
	list-style: none;
}

a {
	position: relative;
	color: var(--color-secondary-text);
}

a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: #ee9972;
	bottom: -1px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out;
}

a:not(.image-link):hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

a {
	text-decoration: none;
}

@media (width <= 600px) {
	#main-nav-list {
		flex-wrap: wrap;
	}
}
