#hero {
	--margin: 5vw;
	padding: var(--spacing) 0;
}

#hero > div {
	margin-left: var(--margin);
}

#hero img {
	width: 40vw;
	height: max(20vw, 30vh);
	border-radius: var(--border-radius);
	object-fit: cover;
	margin: 0 var(--margin);
}

#hero h2 {
	margin: 0 0 var(--spacing-small) 0;
}

#hero p {
	color: white;
}

#hero button {
	margin-top: calc(var(--spacing-small) * 2);
	padding: 0.7rem var(--spacing-small);
}

#hero button:hover {
	box-shadow: 0 calc(var(--spacing-small) / 2) var(--spacing-small)
		rgb(45, 45, 45);
}

@media (width < 600px) {
	#hero img {
		display: none;
	}
}
