#specials {
	margin: 2rem 0;
}

#title {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
}

#title button {
	width: 25vw;
}

#dishes {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	align-items: center;
}

@media (width <= 600px) {
	#dishes {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
}
