#hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #495e57;
	margin: 0 -2rem;
	padding: 1rem;
}

#hero > div {
	margin-left: 5vw;
}

#hero img {
	width: 40vw;
	height: max(20vw, 30vh);
	border-radius: var(--border-radius);
	object-fit: cover;
	margin: 0 5vw;
}

:is(#hero) :is(h1, h2) {
	color: var(--color-main-y);
}

#hero h1 {
	line-height: 2.5rem;
}

#hero h2 {
	margin: 0 0 1rem 0;
}

#hero p {
	color: white;
}

#hero button {
	margin-top: 3rem;
	padding: 0.7rem 1rem;
}

@media (width < 600px) {
	#hero img {
		display: none;
	}
}
