#specials {
	margin: 2rem 0;
}

#title {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0 2rem 2rem;
}

#title button {
	width: 25vw;
}

#dishes {
	display: flex;
	gap: 2%;
	justify-content: space-evenly;
	align-items: center;
}

@media (width <= 600px) {
	#dishes {
		flex-direction: column;
		gap: 1rem;
	}
}
