header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6rem;
	border-bottom: 0.15rem solid red;
}

#logo {
	margin-right: 5rem;
}
