* {
	padding: 0;
	margin: 0;
}

:root {
	--border-radius: 16px;
	--color-main-y: #f4ce14;
	--color-main-g: #495e57;
	--color-secondary: #333333;
}

html {
	scroll-behavior: smooth;
	/* font-size: calc(15px + 0.390625vw); */
}

html,
section {
	font-size: calc(15px + 0.390625vw);
}

body {
	padding: 6rem 2rem 0 2rem;
	font-family: Karla;
}

@media (width <= 850px) {
	body {
		padding-top: 7rem;
	}
}

@media (width <= 460px) {
	body {
		padding-top: 8rem;
	}
}
