.restaurant-description {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-main-g);
	margin: 0 calc(var(--horizontal-margin) * -1);
	padding: var(--spacing) var(--spacing-small);
	gap: 3vw;
	color: white;
}

.color-main-y {
	color: var(--color-main-y);
}
