form {
	display: grid;
	grid-template-columns: 1fr 6rem 6rem 1fr;
	row-gap: var(--spacing-small);
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: var(--spacing) 0;
}

form div {
	display: flex;
	flex-direction: column;
	grid-column: 2 / 4;
}

#notes {
	font-size: 0.8rem;
	margin: auto;
	grid-column: 1 / 5;
}

input {
	border: none;
	outline: none;
	padding: 0.2rem;
	background-color: var(--color-seconday);
	border-radius: 6px;
}

div + input {
	margin-top: 1.5rem;
}

:is(#time, #ocasion) {
	border-radius: 6px;
	padding: 0.2rem;
	border-color: #edefee;
	background-color: #edefee;
}

form button {
	padding: 0.8rem;
	grid-column: 2 / 4;
}

button[disabled] {
	pointer-events: none;
}
